@use '../mixins'
@use '../variables'



.header__dark__mode
    background-color: variables.$darkTheme-dark  
    a
        color: variables.$darkTheme-gray   
        border-bottom: 3px solid transparent

        &:hover
            border-bottom: 3px solid variables.$darkTheme-gray
            transition: 0.7s
               
        
        


.header__light__mode
    background-color: variables.$lightTheme-banner-light 
    a
        color: variables.$lightTheme-banner
        border-bottom: 3px solid transparent

        &:hover
            border-bottom: 3px solid variables.$lightTheme-banner
            transition: 0.7s
        

#header__container
    margin: 0 auto
    width: 1040px
    display: flex    
    justify-content: space-between
    @include mixins.mobile
        width: 90vw
        flex-direction: column
        justify-content: center
        align-items: center
    @include mixins.tablet
        width: 90vw
    @include mixins.notepad
        width: 90vw



    .header__logo
        width: 50px
        padding-bottom: 1rem
        @include mixins.mobile
            padding-bottom: 1rem 
        @include mixins.tablet
            padding-bottom: 1rem     



  
    
    nav
        
        @include mixins.mobile
            border-top: 1px solid variables.$lightTheme-dark
            padding-top: 1rem 
            padding-bottom: 1rem 
            width: 100%
            

        ul
            display: flex
            @include mixins.mobile
                justify-content: space-between
                align-items: center
            li
                margin: 0 1rem
                list-style: none

                a
                    text-decoration: none
                    
                    

                   
                   
        
   

.button__container
    display: flex
    justify-content: right
    margin: 0 6%
    padding: 1rem 0

    button
        width: 1.9rem
        height: 1.9rem    
        border: 2px solid variables.$lightTheme-gray
        border-radius: 50px
        background-color: variables.$lightTheme-light
    
        


        @include mixins.mobile
            width: 2.5rem
            height: 2.5rem    
            border: 2px solid variables.$lightTheme-gray
            border-radius: 50px
            background-color: variables.$lightTheme-light
        


        img
            margin-top: 0.3rem
            width: 18px 

            @include mixins.mobile
                margin-top: 0.3rem
                width: 25px                