

.header__container
    margin: 0 auto
    width: 1040px
    display: flex    
    justify-content: space-between



    nav

        ul
            display: flex
            
            li
                margin: 0 1rem
                list-style: none

                a
                    text-decoration: none